body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background-color: #fff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

/* Main content */

.mein-content {
  width: 800px;
  padding: 88px;
}

.mein-content-titel {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 8px 0;
}

/* About me */
.my-profession {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 18px 0;
}
.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin: 0 0 28px 0;
}

.my-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 525px;
}

.about-me-conteiner {
  margin-bottom: 64px;
}

/* Projects  */

.project-item {
  ont-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project-list {
  padding: 0 0 0 16px;
  margin: 0;
}

.projects-conteiner {
  margin-bottom: 48px;
}

.project-item-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #005fff;
  text-decoration: none;
}

/* Work experience  */

.work-experiense-conteiner {
  margin-bottom: 44px;
}

.work-experiense-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}
.work-experiense-company {
  color: #6d9bf5;
}

.work-experiense-place {
  margin-bottom: 16px;
  width: 525px;
}

.work-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 12px 0 8px 0;
}

.work-duties {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.work-duties-liest {
  padding: 0 0 0 14px;
  margin-left: 0;
}

/* Education  */

.education-conteiner-place {
  margin-bottom: 44px;
  width: 298px;
}
.education-content-titel {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 8px 0;
}

.education-place {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #6d9bf5;
  margin: 12px 0 12px 0;
}

.education-specification {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 12px 0;
}

.education-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 12px 0 0 0;
}

.next-divider {
  color: #000000;
}

/* Sidebar */

.sidebar {
  width: 400px;
  background: #aebbb9;
}

.my-photo {
  margin-top: 40px;
}

.contacts-conteiner,
.tech-skills-conteiner,
.soft-skills-conteiner {
  margin: 48px 0 0 40px;
}

.sidebar-titel {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #161d2a;
  margin-bottom: 8px;
}

.contact-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-right: 8px;
}

.contacts-item {
  margin: 0;
}

.contacts-number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  text-decoration: none;
}

.contacts-email {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2979ff;
  text-decoration: none;
}

/* Skills */
.skills-list {
  margin: 0;
  padding: 0 0 0 12px;
}

.skills-list-item {
  color: #6d9bf5;
}

.skills-list-text {
  ont-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}
